Jumbotron {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.centering {
  width: 50%;
  text-align: center;
  padding: 70px 0;

  height: auto;
}

img {
  max-width: 128px;
}

.profileImg {
  vertical-align: middle;
  object-fit: cover;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.notificationImg {
  vertical-align: middle;
  object-fit: cover;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.contestsListImg {
  vertical-align: middle;
  object-fit: cover;
  height: 140px;
  width: 200px;
}

.signUpLogInDivFirst {
  height: 90px;
  width: 300px;
}

.signUpDivSecond {
  height: 570px;
  width: 300px;
}

.LogInDivSecond {
  height: 350px;
  width: 300px;
}